include LICENSE README.md
recursive-include static *.css
recursive-include static *.eot
recursive-include static *.svg
recursive-include static *.ttf
recursive-include static *.woff
recursive-include static *.js
recursive-include static *.jpg
recursive-include static *.png
recursive-include static *.scss


