include LICENSE README.md CHANGES.md
recursive-include tango_capo *.css
recursive-include tango_capo *.eot
recursive-include tango_capo *.svg
recursive-include tango_capo *.ttf
recursive-include tango_capo *.woff
recursive-include tango_capo *.js
recursive-include tango_capo *.jpg
recursive-include tango_capo *.png
recursive-include tango_capo *.scss


