<!doctype html> 
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">{# forces IE to use best rendering engine #}
	<title>{% block title %}{% endblock %} {{ site.name }} {% block title_extra %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	{% block extra_meta %}{% endblock extra_meta %}
	<link rel="shortcut icon" href="">
	<link rel="apple-touch-icon" href="">
	{% block site_styles %}{% endblock %}

	{# This javascript must be at top #}
	<script src="static/js/libs/modernizr-2.5.3.min.js"></script>
	{% block extrahead %}{% endblock %}
	{% for k, v in feed_urls.items %}
		<!-- output feed_urls here. Context processor? -->
	{% endfor %}
</head>

<body id="{% block bodyid %}default{% endblock %}" class="{% block bodyclass %}section_front{% endblock %}">
	<!--[if lt IE 7]>
		<p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or 
		<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->
	<div id="wrapper">
		<header role="banner" id="masthead" class="clearfix">
			<div>
				<a href="#main_menu" class="trigger">Menu</a>
				{% block site_header %}{% endblock %}
				<nav id="main_menu" class="clearfix">{% block site_nav %}{% endblock %}</nav>
			</div>
		</header>
		{% block leaderboard_ad %}{% endblock %}
		<div id="content" class="clearfix">
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<section id="content-main">
				{% block content %}{% endblock %}
			</section> <!-- /#content-main -->
			<section id="content-side">{% block site_side %}{% endblock %}{% block aside %}{% endblock %}</section><!-- /#content-side -->
			{% block content_bottom %}{% endblock %}
		</div>
		<footer id="footer" role="contentinfo">                 
			<div class="clearfix"></div>
		</footer>
	</div> <!-- /#wrapper -->
	{# Javascript at the bottom for fast page loading #}
	{% block site_js %}{% endblock %}
	{% block extrascript %}{% endblock %}
	{# asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet #}
	<script>
		var _gaq = [['_setAccount', '{{ ga_code }}'], ['_trackPageview']];
		(function(d, t) {
		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</body>
</html>