// Set vars as needed
$accent: #060;
$nav_width: 300px;

// then import site css
@import '../site.scss';

header[role=banner] {
  @include constrain();

  > div {
    @include breakpoint(l) { 
      width: $nav_width;
      margin-right: $gutter;
      float: left;
    }
  }
  .navicon:before {color: $inverse_alt}
}
