@mixin fancy_rule() {
	content:"";
	display:block;
	clear:both;
	height:5px; 
	background: rgba(255,255,255,.2); 
	border-radius:6px;
	-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
	-moz-box-shadow:inset 2px 2px 2px rgba(0,0,0,.4);  
	box-shadow:inset 2px 2px 2px rgba(0,0,0,.5);
}

/* FORMS */
input[type=text], input[type=password], textarea {
	color: $accent; 
	background: $base; 
	border:1px solid $accent; border-radius:8px; padding:2px 5px;
	&:focus,
	&:active {background: $base_alt2; color:$inverse_alt;
		-webkit-box-shadow:inset 2px 2px 3px rgba(0,0,0,.5);
		-moz-box-shadow:inset 2px 2px 3px rgba(0,0,0,.5);  
		box-shadow:inset 2px 2px 3px rgba(0,0,0,.5);
	}
}
label {font-size:90%}
.boxedform p {border-bottom:1px solid $base_alt2}
.boxedform label {color:$accent}



.is_paginated {
	a, span {border:1px solid $accent; -moz-border-radius:1em; border-radius:1em; display:inline-block; min-width:1.5em; text-align:center; font-size:14px}
	.current_page {color:#aaa699}
	
	a {
		background:$base_alt2; color:$inverse_alt;  text-shadow:0 1px 0 rgba(0,0,0,.5);
		&:hover {background:$base; color:$inverse}
	}
}


/* SOCIALIZE */
ul.sociallinks {
	height:32px; margin:20px 0;  list-style: none; clear:both;
	li {float:left; width:25%; font-size:90%;
		img {float:left; margin-right:5px; width:32px}
	}
}

.button {
    padding:0 15px;
    border:1px solid #666;
    -moz-border-radius:6px; border-radius:6px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(119,113,98, .7)), to(rgba(55,55,45, .7))); 
    background: -moz-linear-gradient(0% 0% 270deg,#f6f6f6, #c6c6c6);
    background-color:#666 !important;
    font-weight: bold;
    color: #ddd;
    text-shadow: rgba(0,20,0, 0.7) 0px 1px 0;
    text-overflow: ellipsis; white-space: nowrap;
    text-decoration: none;
    line-height:2em;

	&:hover,
	&:active {
   	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(55,55,45, .7)), to(rgba(119,113,98, .7)));
	}
	&:active {background:#bbb; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb)); }
	.right {border-left:1px solid #777; padding-left:.5em;}
	a {color:#ddd}
	&:hover,
	a:hover {color:#fff}
}

// WTF?
.embiggen_text {font-size:150%; line-height:1em}

.avatar {  
		border:2px solid $accent;		
		&:hover { border-color:$accent_alt;}
}

blockquote {border-left:4px solid $accent; color:$accent; padding:.5em 0 .5em 2em; font-size:90%;  margin-bottom:1em;
	footer {font-style: italic;}
	&:after{content:".";display:block;height:0;clear:both;visibility:hidden}
	img {max-width:30% !important}
}


.details { 
	margin:0; 
	display:none; 
	position:absolute; 
	left:100px;  
	top:0; 
	background:$base_alt2; 
	padding:5px 10px;
	font-size:85%;
	border:1px solid $accent;
	-moz-border-radius:10px; 
	     border-radius:10px; 
	-webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.8);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,1);		
	        box-shadow: 10px 10px 10px rgba(0,0,0,.8); 
	
	&:before, &:after {
		content: '';
		width: 0px;
		display: block;
		position: absolute;
		border-style: solid;
		bottom: auto;
	}
	&:before { 
		border-color: transparent $accent;
		border-width: 10px 20px 10px 0px;
		left: -20px;
		top: 10px;
	}	          
	&:after  {
		border-color: transparent $base_alt;
		border-width: 9px 21px 9px 0px;
		left: -19px;
		top: 11px;
	}
}

.details_trigger {opacity:.5}
.details_trigger:hover {opacity:1}

.errorlist {font-weight:bold; background:#900; color:#fff}

#main .tabbed {
	> ul {float:right; list-style:none; margin:0; padding:0; 
		li {display:inline; display:inline-block; font-size:80%; text-transform:lowercase; min-width:30px;			
			a {
				background: transparentize($accent, .5); 
				border:1px solid $base_alt2;
				padding:4px 15px;
				border-radius:5px;
				text-shadow:none;
				
				img {width:30px; opacity:.6; display:inline; margin-bottom:-10px}
			}
			
			a.active {background:$accent_alt;
				img {opacity:1}
			}
		}
	} 

}

#slideshow {min-height:300px !important}


#gallery_nav {
	margin:0; min-height:80px; height:80px; overflow:hidden;
	ul {
		margin:0;
		li {width:18%; border: 1px solid #aaa;	background-color: #efede4;	min-height:75px; list-style:none; float:left; margin-right:8px;}
	}	
}

#slides {
	width:60% !important; float:right; z-index:2; 
	position:relative; -webkit-transition: all .2s ease-in;	-moz-transition: all .2s ease-in;

	> div {width:100%}
	a {display:block; cursor:pointer; width:100% !important; }
	figure {border:2px solid #faf9f4; display:block; 
		-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.8); -moz-box-shadow: 0 0 7px rgba(0,0,0,0.8);	box-shadow: 0 0 7px rgba(0,0,0,0.8);
		
		&:hover {border:2px solid #fff;
 		-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,1); -moz-box-shadow: 2px 2px 8px rgba(0,0,0,1); box-shadow: 2px 2px 8px rgba(0,0,0,1);
	}
	}
	figcaption {display:none;}
}

#gallery-info {width:37%; float:left}

#gallery_pagination {
	margin-top:10px; text-align:center;
	
	.next, .prev {padding: 0 10px; font-size:120% }
}
#caption_hold {min-height:600px}

.detaillink {background: url("/media/img/icons/details.png") no-repeat center center; width:32px; height:32px; text-indent: -5000px; display:block;}


img.w-40 {width:60%}



ul.columned {margin:0; padding:0; width:104%; list-style:none; position:relative;
	li {
		line-height:1.25em;
		font-size:85%; 
		.meta {display:block}
	}
}
section.grid > div, .columned li {
	display:inline-block; 
	vertical-align:top; 
	margin-bottom:1em; 
	border-top:1px solid #333;  
	position:relative; 
	width:29.8%; 
	padding:.5em 3% 0 0; 
	}

.four-col li {width:21%; padding-right:3.5%; }
.two-col li {width:46%; padding-right:3.5%; }
section.grid.two-col > div {width:46%; padding-right:3.5%; }