
// Top content lays out the top items on a section front
// It includes #lead-item, and #more-featured

#top-content {  
	@include breakpoint(m) {
  	@include columned(phi);
		background: aqua;
	}	

	article { 
    clear: right;
  }

  figure {
    //float: right;
    //margin: 0 0 $defaultMargin $gutter;
    &.vertical {
    	float: right;
    	width: 40%;
    	margin-left: $halfGutter;
    	figcaption { display: none }

    	@include breakpoint(s) {
    		width: 50%;
    	}
  	}
  }

  #lead-item { 
    
    @include breakpoint(l) {
      //width: 450px;
      //float: left;
      p { @extend .breakout-text; }
    }
    @include breakpoint(xl) {
      //width: 700px;
    }
  }

  #more-featured {
    h1 { @extend .medium-header }

    @include breakpoint(m) {
      article {
        display: inline-block;
        padding: $baseline $halfGutter 0 0; 
        border-top:1px solid $inverse_alt;
        width: 49.5%;
        vertical-align: top;
      }
    }
    @include breakpoint(l) {
      width: 300px; 
      float: right;
      article {
        display: block;
        width: auto;
        padding-right: 0;
        clear:right
      }
      article:first-child { border: 0 }
    }
    figure {
    	float: right;
    	width: 40%;
    	@include breakpoint(s) {
    		width: 50%;
    	}
  	}
  }
}

#more_articles {
    h1 { @extend .medium-header }
    figure { width: 32% }
  }

///////




#top-contentxxxx {
	
	img {
		width: 50%; 
		float: right;
		margin: 0 0 $baseline $halfGutter;
	}
	.vertical img {
		width: 33%;
	}

	
}

#more-featured {
	h1 {
		@extend .medium-header;
		margin: 0;
	}
}
