@mixin min_700($theme) {
	body {
		@if $theme == 'light' { background: #f7f7f7 url(/media/img/site/6120-bg-lite.jpg) bottom center fixed no-repeat;}
		@if $theme == 'dark' { background: #000 url(/media/img/site/6120-bg.jpg) bottom center fixed no-repeat !important;}
		-moz-background-size: cover; background-size: cover;
		
		&.touch {-moz-background-size: auto; background-size: auto;}
	}
	#main {
		width: 70%; float:left;
		padding:0 3% 1em 0; 
		@if $theme == 'dark' { border-right:2px solid #333; } 	
		@if $theme == 'light' { border-right:2px solid #ccc; } 	
	}
	#secondary {
		float: right;
		width: 26%;	
		font-size:80%;
		line-height:1.25em;
		
		.boxedform label {float:none; display:block; font-size:80%}
		.boxedform input[type="text"], input[type="password"], textarea {width:98%}
	}
	.wide {
		#main {width:99%; float:none; border:0}
		#secondary {width:96%; float:none; border:0}
	}

	.reverse {
		#main {float:right; padding: 0 2%; width:68%}
		#secondary {float:left;}
	}
	.split {
		#main {width:48%}
		#secondary {width:46%; font-size:100%}
	}
	dt {width:25%;}
	dd {width:70%;}
}

@mixin min_1300($theme) {
  	#main_nav, 
	#wrapper { margin-left:0}
	#wrapper {width:80%}
	#masthead hgroup {left:0; top:3px;}
	#masthead #breadcrumbs {margin-left:16%;}
	#masthead #menutrigger {display:none} 	
}

@mixin max_700() {
	@if $theme == 'light' { body {background:#f7f7f7} }
	@if $theme == 'dark' { body {background:#000}}
	body {font-size:1.125em; }
	
	#container {padding: 0 15px 1em 1%}
	#main, #secondary, .sociallinks {width: auto; float:none; margin:0}
	
	#masthead, #main_nav > h1 {
		 min-height:30px;
		hgroup  {width:120px; margin-left:2em; 
		 }
		 #breadcrumbs {display:none}
		
		 #menu_arrow {text-align:center;
		 	.arrow {float:none}
		 	#arrow_1, #arrow_2 {display:none}
		 }
	}
	#main_nav > h1 {min-height:20px; font-size:1em}
	#wrapper {
		#container {padding-top:0}
		#content {padding:1% 3%}
		h1 {font-size:1.75em}
		h2 {font-size:1.5em}
	}
	#main_nav #menu {margin-right:20px;
		li {line-height:1.5em}
		select {max-width:270px;}
	}
	dt {width:33%;}
	dd {width:55%;}
	
	.boxedform label {display:block; float:none; padding:0}
	.boxedform input[type="text"], .boxedform input[type="password"], .boxedform textarea { width: 90%; }
	
	.columned li, section.grid > div {
		display:block; width:100%;
	}
	
	#postlist ol, #comment-list {
		overflow:hidden;
		text-overflow:ellipsis;
		.post, address {padding-left:0; margin-left:0}
		.postvoting {margin-left:1%}
		.post {
			img, figure {float:none; margin:0; width:auto; max-width:100%; }
		}
		> li {padding-left:0;
			.avatar {display:none}
		}
	}
}