{% extends 'shared/base.html' %}
{% block site_styles %}
	<link rel="stylesheet" href="http://media.kansascity.com/v3/css/subs/varsity.css">{% endblock %}
{% block site_header %}
	<hgroup>
		<h1><a href="/" title="home">Varsity<strong>Zone</strong></a></h1>
	</hgroup>
{% endblock %}
{% block site_nav %}
	<ul>
		<li><a href="/games/">Games</a></li>
		<li><a href="/leagues/">Leagues</a></li>
		<li><a href="/schools/">Schools</a></li>
		<li><a href="/sports/">Sports</a></li>
		<li><a href="/news/">News</a></li>
		<li><a href="/photos/">Photos</a></li>
	</ul>
{% endblock %}

{% block aside %}
	<div id="adblock" class="ads" data-ad-src="/ads/slot/2-3/"></div>
	
	
{% endblock %}

{% block site_js %}{% endblock %}