// Common assets



// basic form styling
.boxedform {
	border:1px solid @accent;
	.radius(8px);
	margin-bottom:1em;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0)), to(rgba(0,0,0, .1)));
	background: -moz-linear-gradient(50% 50% 270deg,rgba(0,0,0, 0), rgba(0,0,0, .1));
	> h2 {padding:0 10px;}
	p {border-bottom:1px dotted @accent; padding:.5em 0; margin-bottom:0; clear:left}
	label {float:left; padding: 10px; font-size:12px; font-weight:bold; width:32%}
	label.nofloat {float:none; width:100%}
		input[type=text], input[type=password], textarea {width:67%; border-radius:5px; border:1px solid #444; padding:5px 10px}
	.submithold {text-align:center;}
	.helptext {color:@inverse_alt; font-size:80%; display:block; margin-left:33%}
}



/****** GRIDDED CONTENT *******************************
*  gridded content. Can have 2-5 columns. 3 is default.
*  usage:  something class="columned"
*  or   :  something class="columned four-col"
*  Note media query overrides for small screens below
*******************************************************/
.columned { margin: 0; padding: 0; list-style: none; position: relative; 
	> * { line-height: 1.25em; font-size: 85%; display: inline-block; vertical-align: top; border-top:2px solid @base_alt; position: relative; width: 32.9%; padding: .75em 2% 1.25em 1%; margin-right:-.25em;
		&:hover {background-color: @base_alt}
		img {border:1px solid @accent }
	}
}

.one-col  > * { width: auto; clear:none }
.two-col  > * { width: 49%; }
.four-col > * { width: 25%; }
.five-col > * { width: 20%; }
.six-col  > * { width: 16.5%; }




/*************** MEDIA QUERY OVERRIDES ***********************/

@media only screen and (max-width: 780px) {
	.two-col > * { width: 48.5%;  }
	.four-col > *, .five-col > * {width: 48.5%; }
}
@media only screen and (max-width: 940px) {
	.six-col > * {width: 32.9%; }
}