@import '../core/_vars.scss';
@import '../core/_mixins.scss';


/*
.swipe { <== photoset_slides_hold
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap { <==photoset_slidees
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
*/


#photoset_slides_hold {
  &, #photoset_slides {
    position: relative;
    overflow: hidden;
  }
  figure { 
    width:100%; 
    cursor: e-resize;
    position: relative;
    float: left;
  }
  figure.vertical  {text-align:center;}
  figcaption {display:none}

  @include breakpoint(l) {
    max-width:720px;
    figure.vertical img {max-width:540px}
  }
}

#photoset_info {
  @include breakpoint(s) {
    #caption_hold {font-size:85%;}
    .next span, .prev span {display:none}
  }
}

