@import "mixins/sideheds";


#secondary h1 {
		@include sideheds
}

#guitarama > h1 {margin-bottom:0; }

#intro { -moz-column-count: 2; -moz-column-gap: 2em;  -webkit-column-count:2; -webkit-column-gap: 2em; 
	column-count:2;
	h1 {margin: .65em 0 0}
	h2 {font-size:1.5em; line-height:1.4em; margin: .25em 0 .25em 0}
}

section.list {
	ul {list-style:none; margin:0; }
	div, li {
		display:table;
		width:100%;
		
		div {width:100%;}
		> * {display:table-cell; border-top:1px solid rgba(40,40,40, .6); padding:5px 0; min-height:60px;}
		> *:first-child { 
			h2 {margin:0; font-size:1.125em}
		}
		p {text-align:right; width:34%;
			select {width:100%;}
		}
		.meta {line-height:1.25em; }
		.meta.notes {width:54%; padding-left:1%}
		img {border:1px solid; margin-right:10px; width:40px; }
	}
	#model_list li {
		> * {width:50%}
		.meta {width:49%; padding-left:1%}
	}
	&.generic_list li > *:first-child {width:50%;}
}

section.grid > div {
	 > a {min-height:165px; display:block;}
	h2 {display:inline-block; width:58%; border-radius:5px; padding:0 2% 2px; margin:2px -10px 0 -5px; font-size:1.125em; font-weight:normal;border-radius:5px }
	figure {width:40%; margin-left:5px;
		img {border:2px solid #000}
	}
	p.meta {line-height:1.25em; margin-bottom:0}
	
	.details {
		z-index:40; 
	   width:180%;
	   -webkit-column-count: 2; 
		   -moz-column-count: 2; 
		        column-count: 2;
  	
	  	a { border-radius:5px;
	    	-webkit-column-break-inside: avoid;
	         -moz-column-break-inside: avoid;
	              column-break-inside: avoid;
		}
	}    
	.large {
		width:240%;
		-webkit-column-count: 3; 
	      -moz-column-count: 3; 
	           column-count: 3;
	}
	
}

#models .grid h2:hover,
#models .grid li a:hover {background:#e56b20; color:#fff}

#models .grid {
	ul {margin:0 0 1em;
		li {list-style:none; margin:0; border-top:1px solid #555;
			a {padding:3px 5px 2px; display:block;  font-size:90%;}
		}
	}
}

#models hgroup fieldset {margin-top:1em}
    

.horizontal li img {float:left; width:48%; margin-right:2%}									

#gtr_entry {padding-right:2%}
#gtr_entry p {border-bottom:1px solid #333; padding-bottom:9px; min-height:1em }
#gtr_entry span {display:block; font-size:90%; padding-top:5px; margin-left: 30%}
#gtr_entry ul {list-style:none; -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
#gtr_entry ul label {float:none}

#gtr_entry ul+.meta {display:none}


#guitar-family #about figure {float:right; width:40%; margin-left:2%}

#sn_table th {padding:5px; border-bottom:2px solid #555; font-size:90%}
#sn_table td {font-size:80%; line-height:1.25em; border-bottom:1px solid #333; padding:5px; border-left:1px solid #444} 
#sn_table tr td:first-child {border-left:0; padding:5px 0 4px;}
#sn_table tr td:first-child img {display:block; width:50px; border:1px solid #444}


#model-image {width:50%}
.specs {
	width:48%; clear:none; float:left; font-size:90%; margin-bottom:1em}
.specs dt {  line-height:1.25em; padding:.75em 0}

.specs.wide {float:none; width:100%}


/*@media (max-width: 1000px) { 
	.columned li, #models > section#grid div {width:46%;}
}*/

/* ipad portrait and smaller */
@media (max-width: 700px) { 
	section#intro {float:none; width:100%; -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
	section#intro h2 {width:100%}
	section#intro h2+p {margin-left:0%}
	
	#models .grid {
		figure {width:20%;}
	}
		#models section > div h2 {
		//width:100%; 
		font-size:1.125em}
	#models section > div .details_trigger {float:left; margin-top:-40px;}
	#models section > div .details {margin-top:-60px;}
	#about-gretsch-gear {float:none; border:0; margin-left:0; width:100%; padding-left:0}
	
}

@media (max-width: 600px) {
	section.list div > * {display:block; }
	#models section > div p {width:100%}


	.columned li, #models > section {width:96%}
	#models .grid .details {    width:100%;
    top:1em;
    left:0;
    margin-left:0;
    position:relative;
    -webkit-column-count: 1; -moz-column-count: 1; column-count: 1;

    }
    section#intro h2 {float:none; width:100%}
    section#intro h2+p {margin-left:0; margin-top:1.5em}
    #guitar-family #about figure {max-width:200px;
    	figcaption {font-size:80%; line-height:1.25em}
    }
    #sn_table th, #sn_table td {display:none}
    #sn_table tr th:first-child, #sn_table tr td:first-child {display:block}

}