@import "mixins/module";

#container {
	@include reset_module;
	padding:1em 0;
}

.wide #main {width:102%;}

#main section {
	float:left;
	width:43%;
	padding: 0 2%;
	vertical-align:top;
	margin-bottom:1em;
	margin-right:2%;
	
	h3  {margin:.75em 0 .25em}
}

#main section {
	ul {list-style:none; margin-left:0}
	li {padding:.425em 0;
		.meta {display:block}
	}
}

.unwatch {float:right; margin-left:2em;
	background:#900;
	color:#fff;
	height:20px; width:20px; line-height:20px;
	text-align:center;
	 border-radius:1em;
	text-shadow:-1px -1px 0 rgba(0,0,0,.7);
	font-weight:bold;
	font-size:70%;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.5);

	&:hover {color:#fff}
}

@media (max-width: 700px) {
	#main section {
		float:none;
		width:auto;
		margin-right:0;
	}
}