header[role=banner] {
  @include pad(top-bottom);
  @include margin(bottom);
  @extend .clearfix;
  background: $accent $texture;
  top: 0; 
  width: 100%; 
  z-index: 100; 
  
  .site-name {
    padding-right: $gutter;

    h1 { 
      @extend .large-header;
      max-width:335px;
    }
    h2 { 
      display: none;
      
      @include breakpoint(s) {
        @include pad(top-bottom);
        display:block
      }
    }
  }
  > div {
    @extend .constrain;
  }
  nav {
    position: relative; 

    @include breakpoint(s) { 
      margin-left: 31%; 
    }

    [role=menu] {
      @extend .columned;
      @extend .six-col;
      @include pad(top);
    }
  }
}
